<div class="row-fluid">

  <div class="span2 big-character-container">
    <div class="big-character">{{kanji.literal}}</div>
  </div>

  <div class="span8">

    <div class="row-fluid">
      <div class="span2"><strong>Stroke Count:</strong> {{kanji.strokes}}</div>
      <div class="span2"><strong>Frequency:</strong> {{kanji.freq}}</div>
      <div class="span2"><strong>JLPT Level:</strong> {{kanji.jlpt}}</div>
      <div class="span2"><strong>Grade:</strong> {{kanji.grade}}</div>
    </div>

    <div class="row-fluid">

      <div class="span6">
        <table class="table table-condensed">
          <thead>
            <tr>
              <td><strong>Meaning (English)</strong></td>
            </tr>
          </thead>
          <tbody>
            {{#each kanji.meanings}}
            <tr>
              <td>{{this}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="span3">
        <table class="table table-condensed reading">
          <thead>
            <tr>
              <td><strong>Kun Reading</strong></td>
            </tr>
          </thead>
          <tbody>
            {{#each kanji.kunYomi}}
            <tr>
              <td><a href="/search/{{this}}">{{this}}</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="span3">
        <table class="table table-condensed reading">
          <thead>
            <tr>
              <td><strong>On Reading</strong></td>
            </tr>
          </thead>
          <tbody>
            {{#each kanji.onYomi}}
            <tr>
              <td><a href="/search/{{this}}">{{this}}</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
